.formulario {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 500px;
    border-radius: 20px;
    background-color: antiquewhite;
    padding: 10px;
}

.f-fila {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: rgba(165, 42, 42, 0);
}

.f-columna {
    display: flex;
    justify-content: center;
    align-items: center;
}

.c1 {
    flex: 30%;
    background-color: rgba(0, 255, 255, 0);
}

.c2 {
    flex: 70%;
    background-color: rgba(128, 255, 0, 0);
}

.c2 input {
    width: 90%;
    padding: 12px 20px;
    border: 1px solid gray;
    border-radius: 5px;
}

.c2 input[type=date] {
    text-align: center;
}

.f-fila:last-child {
    background-color: rgba(137, 43, 226, 0);
}

.f-fila:last-child .f-columna {
    width: 100%;
    background-color: rgba(255, 0, 0, 0);
}

.f-fila:last-child input {
    padding: 12px 20px;
    border: 2px solid rgb(48, 160, 48);
    background-color: rgb(48, 160, 48);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s;
}

.f-fila:last-child input:hover {
    background-color: white;
    color: black;
}

.f-fila:last-child input:active {
    background-color: black;
    color: white;
}