table, th, td {
    border:1px solid rgb(214, 214, 214);
    border-collapse: collapse;
    box-shadow:2px 2px grey inset;
}

table {
    background-color: white;
}

th, td {
    padding: 12px;
}

th {
    background-color: rgb(173, 37, 37);
    color: white;
}

tr:nth-child(even) {
    background-color: rgb(223, 223, 223);
}

tr:hover {
    background-color: darkgray;
    color: white;
}