table, th, td {
    border:1px solid rgb(214, 214, 214);
    border-collapse: collapse;
    box-shadow:2px 2px grey inset;
}

table {
    background-color: white;
}

th, td {
    padding: 12px;
}

th {
    background-color: rgb(48, 160, 48);
    color: white;
}

tr:nth-child(even) {
    background-color: rgb(223, 223, 223);
}

tr:hover {
    background-color: darkgray;
    color: white;
}

.linkEditar {
    background-color: rgb(221, 187, 33);
    color: white;
    text-decoration: none;
    padding: 8px;
    border-radius: 5px;
}